@using NetPCTest.Frontend.Dtos
@using NetPCTest.Frontend.Services
@using NetPCTest.Frontend.Components.Modals
@inject IAuthService AuthService
@inject ContactsService ContactsService
@inject CategoryService CategoryService

@if (ContactsBrief is null)
{
    <h1><L Key="loading"/></h1>
}
else
{
    <p>@(RangeStart + 1) - @(RangeStart + RangeEnd) (@TotalContactCount)</p>

    if (IsAuthenticated)
    {
        <button class="layer2" type="submit" @onclick="ShowCreation">
            <L Key="ui.list.contact.create"/>
        </button>
    }

    <table class="layer2">
        <tr>
            <th>
                <L Key="ui.list.contact.id"/>
            </th>
            <th>
                <L Key="ui.list.contact.name"/>
            </th>
            <th>
                <L Key="ui.list.contact.surname"/>
            </th>
        </tr>
        
        @foreach (var contact in ContactsBrief)
        {
            @* XSS need not apply, Blazor treats this as "InnerText" and not "InnerHtml". *@
            <tr @onclick="() => ShowDetails(contact)">
                <td>@contact.Id</td><td>@contact.Name</td><td>@contact.Surname</td>
            </tr>
        }
    </table>
}

@if (_showDetails)
{
    <DetailsModal ContactId="SelectedContactId" OnDeleted="Deleted" OnEdited="Edited" OnClose="CloseDetails"></DetailsModal>
}

@if (_showCreation)
{
    <CreationModal OnCreated="Created" OnClose="CloseCreation"></CreationModal>
}

@code {
    [Parameter] 
    public List<ContactBriefDto>? ContactsBrief { get; set; }
    
    private int TotalContactCount { get; set; }
    private int RangeStart { get; set; }
    private int RangeEnd { get; set; }
    private int SelectedContactId { get; set; }
    private bool IsAuthenticated { get; set; }
    
    private bool _showCreation = false;
    private bool _showDetails = false;

    public async Task Get(int start, int end)
    {
        RangeStart = start;
        RangeEnd = end;
        TotalContactCount = await ContactsService.GetContactCount();
        
        var contacts = await ContactsService.GetContacts(RangeStart, RangeEnd);

        if (contacts is null)
            return;
        
        ContactsBrief = contacts;
        StateHasChanged();
    }

    public async Task Refresh()
    {
        await Get(RangeStart, RangeEnd);
    }

    protected override async Task OnInitializedAsync()
    {
        AuthService.AuthStateChangedAsync += AuthServiceOnAuthStateChangedAsync;
        
        IsAuthenticated = await AuthService.IsLoggedIn();
        
        await CategoryService.RefreshCategories();
        await Get(0, 50);
    }

    private async Task ShowDetails(ContactBriefDto contactBrief)
    {
        SelectedContactId = contactBrief.Id;
        _showDetails = true;
    }

    private async Task ShowCreation()
    {
        _showCreation = true;
    }

    private async Task Edited()
    {
        await Refresh();
    }

    private async Task Deleted()
    {
        SelectedContactId = 0;
        await Refresh();
    }

    private async Task Created()
    {
        await Refresh();
    }

    private async Task CloseDetails() => _showDetails = false;
    private async Task CloseCreation() => _showCreation = false;

    public void Dispose()
    {
        AuthService.AuthStateChangedAsync -= AuthServiceOnAuthStateChangedAsync;
    }

    private async Task AuthServiceOnAuthStateChangedAsync()
    {
        IsAuthenticated = await AuthService.IsLoggedIn();
        StateHasChanged();
    }
}